# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Visual Studio User Files
*.user

# Executables
*.exe
*.out
*.app
*.suo
/SevenZip/obj
/SevenZip/bin
/SevenZip/.vs
/SevenZipSharpMobile/bin
/SevenZipSharpMobile/obj
/SevenZipSharpMobileTest/bin
/SevenZipSharpMobileTest/obj
/SevenZipSharpMobileUnitTest/bin
/SevenZipSharpMobileUnitTest/obj
/SevenZipTestWPF/bin
/SevenZipTestWPF/obj
/SevenZipTestWPF/.vs
/SevenZipTest/obj
/SevenZipTest/bin
/SevenZipTestForms/obj
/SevenZipTestForms/bin
/SevenZipTest/.vs
TestResults
